.messenger {
    @media (min-width: $desktop + px) {
        width: 675px;
    }
}

.messages {
    padding-top: 15px !important;
    padding-bottom: 20px !important;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 98px) !important;
    @media (min-width: $tablet + px) {
        height: calc(100% - 150px) !important;
    }
    @media (min-width: $desktop + px) {
        height: 350px !important;
    }
}

.message {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 5px;
    line-height: 1.3;
    span {
        display: inline-block;
        padding-right: 5px;
    }
    p {
        display: inline;
    }
    &.received span {
        color: #FF0000;
    }
    &.sent span {
        color: #0000FF;
    }
}

.messages--transition-enter {
  opacity: 0.01;
  transform: translateY(10px);
}

.messages--transition-enter.messages--transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .1s ease-in, transform .1s ease-in;
}

.messages--transition-leave {
  opacity: 1;
  transform: translateY(0);
}

.messages--transition-leave.messages--transition-leave-active {
  opacity: 0.01;
  transform: translateY(10px);
  transition: opacity .1s ease-in, transform .1s ease-in;
}
