.paint {
  .content {
    padding: 0;
  }
  canvas {
    width: 100%;
    height: 100%;
    cursor: url(http://cur.cursors-4u.net/user/use-1/use151.cur), progress !important;
  }
}

.paint__colors {
  background: #bdbdbd;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.paint__active-color {
  position: relative;
  display: block;
  float: left;
  padding: 10px 10px 0;
  margin-right: 5px;
  &:after {
    content: '';
    width: 1px;
    height: 44px;
    position: absolute;
    top: 11px;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  div {
    width: 44px;
    height: 44px;
  }
}

.paint__color-swatches {
  padding: 10px 0 6px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  button {
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    float: left;
    cursor: pointer;
  }
}
