::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent; }

@media (min-width: 1025px) {
  .messenger {
    width: 700px; } }

.messages {
  padding-top: 15px !important;
  padding-bottom: 25px !important;
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100% - 98px) !important; }
  @media (min-width: 750px) {
    .messages {
      height: calc(100% - 150px) !important; } }
  @media (min-width: 1025px) {
    .messages {
      height: 350px !important; } }
  .messages > div {
    padding-bottom: 10px; }

.message {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 5px;
  line-height: 1.3; }
  .message .username {
    display: inline-block;
    padding-right: 5px; }
  .message .Linkify {
    display: inline; }
  .message.received .username {
    color: #FF0000; }
  .message.sent .username {
    color: #0000FF; }

.message-enter {
  opacity: 0.01;
  transform: translateY(10px); }

.message-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity .1s ease-in, transform .1s ease-in; }

.message-exit {
  opacity: 1;
  transform: translateY(0); }

.message-exit-active {
  opacity: 0.01;
  transform: translateY(10px);
  transition: opacity .1s ease-in, transform .1s ease-in; }

.activeTyping {
  position: absolute;
  left: 20px;
  bottom: 70px;
  font-size: 12px;
  color: #FF0000;
  display: none; }
  @media (min-width: 750px) {
    .activeTyping {
      bottom: 117px; } }
  @media (min-width: 1025px) {
    .activeTyping {
      bottom: 70px; } }
  .activeTyping.visible {
    display: block; }

.userInput {
  position: relative;
  width: calc(100% - 13px); }
  .userInput input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none; }
    @media (min-width: 1025px) {
      .userInput input {
        padding: 9px 12px 8px;
        font-size: 14px; } }
  .userInput .buttonWrapper {
    background: #fff;
    max-width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }
    .userInput .buttonWrapper > div {
      white-space: nowrap; }
  .userInput button {
    margin: 5px;
    cursor: pointer; }
  .userInput .field {
    width: calc(100% - 122px);
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 3px 0 0 3px; }
  .userInput .option-toggle {
    position: absolute !important;
    right: 0;
    top: 2px;
    width: 100px; }
    .userInput .option-toggle:active {
      top: 4px; }
  .userInput.hidden .field * {
    opacity: 0;
    pointer-events: none; }
  .userInput.hidden .option-toggle {
    pointer-events: none;
    cursor: auto; }
