.screensaver {
  &-visible {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-position: bottom center;
    background-size: cover;
  }

  &-not-visible {
    display: none;
  }
}