$tablet: 750;
$desktop: 1025;

.button {
  font-family: 'Anonymous Pro', monospace;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px 10px 13px;
  vertical-align: middle;
  -webkit-appearance: initial;
  border: none;
  &:active,
  &.active {
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.button-medium {
  font-family: 'Anonymous Pro', monospace;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 13px 6px;
  line-height: 1;
  &:active,
  &.active {
    position: relative;
    top: 2px;
    padding-top: 7px;
    padding-bottom: 5px;
  }
}

.button-small {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
  padding: 5px 8px;
  text-align: center;
  @media (min-width: $desktop + px) {
    min-width: 25px;
    min-height: 25px;
  }
}

.button-inset {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  font-family: sans-serif;
  padding: 5px 8px;
  text-align: center;
  &.minimize {
    @media (max-width: $desktop - 1 + px) {
      padding: 8px 10px 5px;
    }
  }
}

.theme-light {
  .button
  .button-inset,
  .button-small,
  .button-medium {
    color: #000;
    background: #bdbdbd;
    &:active,
    &.active {
      background: #e6e6e6;
    }
  }

  .button {
    box-shadow: inset 3px 3px 0 rgba(#fff,.8), inset -3px -3px 0 rgba(#000,.25), 2px 2px 0 #000;
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #fff, inset -2px -2px 0 #ddd, inset 4px 4px 0 #888;
    }
  }

  .button-medium {
    box-shadow: 2px 2px #000, inset -2px -2px rgba(#000, .25), inset 2px 2px rgba(#fff,.8);
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #fff, inset -2px -2px 0 #ddd, inset 4px 4px 0 #888;
    }
  }

  .button-small {
    box-shadow: inset -2px -2px 0 rgba(#000,.25), inset 2px 2px 0 rgba(#fff,.8);
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #ddd, inset -2px -2px 0 #ddd;
    }
  }

  .button-inset {
    box-shadow: 2px 2px 0 rgba(255, 255, 255, 0.6), inset 2px 2px rgba(0, 0, 0, 0.5);
    &:active,
    &.active {
      background: #e6e6e6;
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #ddd, inset -2px -2px 0 #ddd;
    }
  }

  .startbar {
    background: #bdbdbd;
    box-shadow: inset 0 4px 0 rgba(#fff,.8);

    .programs:before {
      border-left: 2px solid rgba(#fff,.8);
      border-right: 2px solid rgba(#000,.25);
    }

    a,
    button {
      color: #000;
    }
  }

  .start-cupboard {
    background: #bdbdbd;
    box-shadow: -3px -3px 0 #f2f2f2, inset -3px -3px 0 rgba(#000,.25);

    a,
    button {
      color: #000;
      &:hover {
        background: blue;
        color: #fff;
      }
    }

    .shutdown {
      border-top: 1px solid #888;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
    }
  }

  .program {
    background: #bdbdbd;
    box-shadow: -3px -3px 0 #f2f2f2, inset -3px -3px 0 rgba(#000,.25);

    &:not(.system) {
      .content {
        box-shadow: 3px 3px 0 rgba(#fff,.6), inset 3px 3px rgba(#000,.5);
      }
    }
  }

  .toolbar button.disabled {
    color: darken(#BDBDBD, 15%);
    text-shadow: 1px 1px #fff;
  }

  .userInput {
    .field {
      box-shadow: 3px 3px 0 rgba(#fff,.6), inset 3px 3px rgba(#000,.50);
    }
    &.hidden {
      .option-toggle {
        color: darken(#BDBDBD, 15%);
        text-shadow: 1px 1px #fff;
      }
    }
  }

  .clock {
    color: #000;
    box-shadow: inset 3px 3px 0 rgba(#000,.25), 2px 2px 0 rgba(#fff,.8);
  }

  .settings,
  .notification {
    color: #000;
  }
}

.theme-dark {
  .button
  .button-inset,
  .button-small,
  .button-medium {
    color: #fff;
    background: #333;
    &:active,
    &.active {
      background: #000;
    }
  }

  .button {
    box-shadow: inset 3px 3px 0 rgba(#666,.8), inset -3px -3px 0 rgba(#000,.5), 2px 2px 0 #000;
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #555, inset -2px -2px 0 #777, inset 4px 4px 0 #474747;
    }
  }

  .button-medium {
    box-shadow: 2px 2px #000, inset -2px -2px rgba(#000, .5), inset 2px 2px rgba(#666,.8);
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #555, inset -2px -2px 0 #777, inset 4px 4px 0 #474747;
    }
  }

  .button-small {
    box-shadow: inset -2px -2px 0 rgba(#000,.5), inset 2px 2px 0 rgba(#666,.8);
    &:active,
    &.active {
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #555, inset -2px -2px 0 #666;
    }
  }

  .button-inset {
    box-shadow: 2px 2px 0 rgba(#666, 0.6), inset 2px 2px rgba(#000, 0.75);
    &:active,
    &.active {
      background: #e6e6e6;
      box-shadow: inset 2px 2px 0 #000, 1px 1px 0 #666, inset -2px -2px 0 #666;
    }
  }

  .startbar {
    background: #333;
    box-shadow: inset 0 4px 0 #666;

    .programs:before {
      border-left: 2px solid rgba(#666,.8);
      border-right: 2px solid rgba(#000,.5);
    }

    a,
    button {
      color: #fff;
    }
  }

  .start-cupboard {
    background: #333;
    box-shadow: -3px -3px 0 #666, inset -3px -3px 0 rgba(#000,.5);

    a,
    button {
      color: #fff;
      &:hover {
        background: blue;
        color: #fff;
      }
    }

    .shutdown {
      border-top: 1px solid #000;
      box-shadow: inset 0 1px 0 rgba(#666, 0.8);
    }
  }

  .program {
    background: #333;
    box-shadow: -3px -3px 0 #666, inset -3px -3px 0 rgba(#000,.5);

    &:not(.system) {
      .content {
        box-shadow: 3px 3px 0 rgba(#000,.6), inset 3px 3px rgba(#666,.5);
      }
    }
  }

  .toolbar button.disabled {
    color: darken(#333, 10%);
    text-shadow: 1px 1px #666;
  }

  .userInput {
    .field {
      box-shadow: 3px 3px 0 rgba(#666,.6), inset 3px 3px rgba(#000,.75);
    }
    &.hidden {
      .option-toggle {
        color: darken(#333, 15%);
        text-shadow: 1px 1px #ccc;
      }
    }
  }

  .clock {
    color: #fff;
    box-shadow: inset 3px 3px 0 rgba(#000,.5), 2px 2px 0 rgba(#666,.8);
  }

  .settings,
  .notification {
    color: #fff;
    a {
      background: #bdbdbd;
      padding: 2px;
    }
  }
}
