.toolbar {
  padding: 5px 7px 7px;
  position: relative;
  top: 2px;
  left: 3px;
  width: calc(100% - 9px);
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .title {
    float: left;
    color: #fff;
    font-size: 14px;
    margin-top: 2px;
    min-width: 160px;
    img {
      max-height: 20px;
      max-width: 25px;
      width: auto;
      margin-right: 2px;
    }
    span {
      padding-top: 4px;
    }
    img,
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  button {
    font-weight: 400;
    float: right;
    margin-left: 5px;

    &.disabled {
      pointer-events: none;
      cursor: auto;
      color: darken(#BDBDBD, 15%);
      text-shadow: 1px 1px #fff;
    }
  }
}

.messenger .toolbar {
  background: linear-gradient(to right, #0000F7 0%, #00FEFE 100%);
}

.contact .toolbar {
  background: linear-gradient(to right, #DE241E 0%, #FFF200 100%);
}

.work .toolbar {
  background: linear-gradient(to right, #2536F8 0%, #DF3285 100%);
}

.paint .toolbar {
  background: linear-gradient(to right, #34ce18 0%, #f9f227 100%);
}

.shutdown .toolbar,
.settings .toolbar {
  background: linear-gradient(to right, darken(blue, 25%) 0%, blue 100%);
}
