.toolbar {
  padding: 5px 7px 7px;
  position: relative;
  top: 2px;
  left: 3px;
  width: calc(100% - 9px); }
  .toolbar:after {
    content: '';
    display: block;
    clear: both; }
  .toolbar .title {
    float: left;
    color: #fff;
    font-size: 14px;
    margin-top: 2px;
    min-width: 160px; }
    .toolbar .title img {
      max-height: 20px;
      max-width: 25px;
      width: auto;
      margin-right: 2px; }
    .toolbar .title span {
      padding-top: 4px; }
    .toolbar .title img,
    .toolbar .title span {
      display: inline-block;
      vertical-align: middle; }
  .toolbar button {
    font-weight: 400;
    float: right;
    margin-left: 5px; }
    .toolbar button.disabled {
      pointer-events: none;
      cursor: auto;
      color: #979797;
      text-shadow: 1px 1px #fff; }

.messenger .toolbar {
  background: linear-gradient(to right, #0000F7 0%, #00FEFE 100%); }

.contact .toolbar {
  background: linear-gradient(to right, #DE241E 0%, #FFF200 100%); }

.work .toolbar {
  background: linear-gradient(to right, #2536F8 0%, #DF3285 100%); }

.paint .toolbar {
  background: linear-gradient(to right, #34ce18 0%, #f9f227 100%); }

.shutdown .toolbar {
  background: linear-gradient(to right, navy 0%, blue 100%); }
